<!DOCTYPE html>
<html lang="en">
<head>
<title>Food Guide</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="screen.css">
</head>
<body>

<div class="navbar">
  <a href="#home">Home</a>
  
  <div class="dropdown">
    <button class="dropbtn">Health 
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">  
      <div class="column">
          <a href="#">Alcohol-free</a>
          <a href="#">Immune-Supportive</a>
          <a href="#">Celery-free</a>
          <a href="#">Crustcean-free</a>
          <a href="#">Dairy</a>
        </div>
		<div class="column">
		  <a href="#">Eggs</a>
          <a href="#">Fish</a>
          <a href="#">FODMAP free</a>
          <a href="#">Gluten</a>
          <a href="#">Keto</a>
        </div>
		<div class="column">
		  <a href="#">Kidney friendly</a>
          <a href="#">Kosher</a>
          <a href="#">Low potassium</a>
          <a href="#">Lupine-free</a>
          <a href="#">Mustard-free</a>
        </div>
		<div class="column">
          <a href="#">No oil added</a>
          <a href="#">No-sugar</a>
          <a href="#">Paleo</a>
          <a href="#">Vegetarian</a>
		  <a href="#">Vegan</a>
        </div>
      </div>
    </div>
  
  <div class="dropdown">
    <button class="dropbtn">Diet 
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">  
      <div class="column">
          <a href="#">Balanced</a>
          <a href="#">High-Fiber</a>
          <a href="#">High-Protein</a>
          <a href="#">Low-Carb</a>
          <a href="#">Low-Fat</a>
        </div>
		<div class="column">
		  <a href="#">Low-Sodium</a>
        </div>
		<div class="column">
		  
        </div>
		<div class="column">
         
        </div>
      </div>
    </div>
  
  
  <div class="dropdown">
    <button class="dropbtn">Cuisine Type 
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">  
      <div class="rowN">
        <div class="column">
          <a href="#">American</a>
          <a href="#">Asian</a>
          <a href="#">British</a>
          <a href="#">Central Europe</a>
          <a href="#">Chinese</a>
        </div>
        
        <div class="column">
          <a href="#">Eastern Europe</a>
          <a href="#">French</a>
          <a href="#">Indian</a>
		  <a href="#">Italian</a>
          <a href="#">South East Asian</a>
        </div>
		
        <div class="column">
          <a href="#">Japanese</a>
          <a href="#">Mediterranean</a>
		  <a href="#">Mexican</a>
          <a href="#">Middle Eastern</a>
          <a href="#">South American</a>
        </div>
		
		<div class="column">
		  <a href="#">Caribbean</a>
          <a href="#">Nordic</a>
          <a href="#">Kosher</a>
        </div>
		
      </div>
    </div>
  </div>
  
  <div class="dropdown">
    <button class="dropbtn">Dish Type 
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">  
      <div class="column">
          <a href="#">Starter</a>
          <a href="#">Soup</a>
          <a href="#">Sandwiches</a>
          <a href="#">Salad</a>
          <a href="#">Preserve</a>
        </div>
		<div class="column">
          <a href="#">Preps</a>
          <a href="#">Pancake</a>
          <a href="#">Omelet</a>
          <a href="#">Main course</a>
          <a href="#">Egg</a>
        </div>
		<div class="column">
          <a href="#">Desserts</a>
          <a href="#">Drinks</a>
          <a href="#">Condiments and sauces</a>
          <a href="#">Cereals</a>
          <a href="#">Bread</a>
        </div>
		<div class="column">
          <a href="#">Biscuits and cookies</a>
          <a href="#">Alcohol-cocktail</a>
        </div>
		
      </div>
    </div>
	
	<div class="dropdown">
    <button class="dropbtn">Meal Type 
      <i class="fa fa-caret-down"></i>
    </button>
    <div class="dropdown-content">  
      <div class="column">
          <a href="#">Breakfast</a>
          <a href="#">Lunch</a>
          <a href="#">Dinner</a>
          <a href="#">Snack</a>
          <a href="#">Teatime</a>
        </div>
		<div class="column">
        </div>
		<div class="column">
        </div>
		<div class="column">
        </div>
      </div>
    </div>
	
	
  </div>
</div>

<div class="content">
  <div class="row">
	  <div class="col">
		<div class="card">..</div>
	  </div>
	  <div class="col">
		<div class="card">..</div>
	  </div>
	  <div class="col">
		<div class="card">..</div>
	  </div>
	  <div class="col">
		<div class="card">..</div>
	  </div>
  </div>
  <div class="row">
	  <div class="col">
		<div class="card">..</div>
	  </div>
	  <div class="col">
		<div class="card">..</div>
	  </div>
	  <div class="col">
		<div class="card">..</div>
	  </div>
	  <div class="col">
		<div class="card">..</div>
	  </div>
  </div>
  <div class="row">
	  <div class="col">
		<div class="card">..</div>
	  </div>
	  <div class="col">
		<div class="card">..</div>
	  </div>
	  <div class="col">
		<div class="card">..</div>
	  </div>
	  <div class="col">
		<div class="card">..</div>
	  </div>
  </div>
</div>

</body>
</html>