body {
    width: 100%;
    height: 100%;
    background-color: rgba(240,255,240,255);

}

.Left-Content{
    width: 40%;
    height: 100%;
    float: left;
    background-color: aq;
    border-collapse: collapse;
    border-collapse: collapse;
    border-right-style:dashed;
}

.Left-Content h1 {
    text-align: center;
}
.Left-Content-Side {
    background-color: rgb(5,180,235);
    width: 250px;
    border: 10px solid lightgrey;

}

.Left-Content-Side h1{
    text-align:center;

}

.Left-Content-Side li{
    list-style-type: none;

}
.Middle-Content{
    width: 30%;
    height: 100%;
    float: left;
    text-align:center;
    border-collapse:collapse;

}

.Middle-Content li{
    list-style-type: none;
    display:inline;

}

.Middle-Content ul{
  
    text-align:center;

}
.Right-Content{
    width: 29%;
    height: 100%;
    text-align:center;
    position: relative;
    float: right;
    border-left-style:dashed;
}

.Right-Content li{
    list-style-type: none;
    display:inline;

}