doctype html
html(lang='en')
  head
    title Food Guide
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet' href='/stylesheets/screen.css')
    script(src="/Javascript/jquery-3.6.0.min.js")
  body
    // Side navigation
    .sidenav
      h3  Min. Calories
      .slidecontainer
        input#minCal.slider(type='range' min='0' max='10000' value='0' step='100')
        p Value: 
          span#demo1
      h3  Max. Calories
      .slidecontainer
        input#maxCal.slider(type='range' min='0' max='10000' value='10000' step='100')
        p Value: 
          span#demo2
      h3  Max. Ingredients
      .slidecontainer
        input#maxIngredients.slider(type='range' min='0' max='50' value='25' step='5')
        p Value: 
          span#demo3
      button#filter.block(type='button') Submit
    // Page content
    .main
      .navbar
        a(href='#home') Home
        .dropdown
          <button class="dropbtn">Health
            <i class="fa fa-caret-down"></i>
          </button>
          <div class="dropdown-content">  
            .column
              <a id="info" data-id="alcohol-free"> Alcohol-free </a>
              <a id="info" data-id="immune-supportive">Immune-Supportive</a>
              <a id="info" data-id="celery-free">Celery-free</a>
              <a id="info" data-id="crustcean-free">Crustcean-free</a>
              <a id="info" data-id="dairy-free">Dairy-free</a>
            .column
              <a id="info" data-id="eggs-free">Eggs-free</a>
              <a id="info" data-id="fish-free">Fish-free</a>
              <a id="info" data-id="fodmap-free">FODMAP free</a>
              <a id="info" data-id="gluten-free">Gluten free</a>
              <a id="info" data-id="keto-friendly">Keto Friendly</a>
            .column
              <a id="info" data-id="kidney-friendly">Kidney friendly</a>
              <a id="info" data-id="kosher">Kosher</a>
              <a id="info" data-id="low-potassium">Low potassium</a>
              <a id="info" data-id="lupine-free">Lupine-free</a>
              <a id="info" data-id="mustard-free">Mustard-free</a>
            .column
              <a id="info" data-id="no-oil-added">No oil added</a>
              <a id="info" data-id="low-sugar">No-sugar</a>
              <a id="info" data-id="paleo">Paleo</a>
              <a id="info" data-id="vegetarian">Vegetarian</a>
              <a id="info" data-id="vegan">Vegan</a>
          </div>
        .dropdown
          button.dropbtn
            | Diet
            i.fa.fa-caret-down
          .dropdown-content
            .column
              <a id="info" data-id="balanced">Balanced</a>
              <a id="info" data-id="high-fiber">High-Fiber</a>
              <a id="info" data-id="high-protein">High-Protein</a>
              <a id="info" data-id="low-carb">Low-Carb</a>
              <a id="info" data-id="low-fat">Low-Fat</a>
            .column
              <a id="info" data-id="low-sodium">Low-Sodium</a>
            .column
            .column
        .dropdown
          button.dropbtn
            | Cuisine Type
            i.fa.fa-caret-down
          .dropdown-content
            .rowN
              .column
                <a id="info" data-id="American">American</a>
                <a id="info" data-id="Asian">Asian</a>
                <a id="info" data-id="British">British</a>
                <a id="info" data-id="Central Europe">Central Europe</a>
                <a id="info" data-id="Chinese">Chinese</a>
              .column
                <a id="info" data-id="Eastern Europe">Eastern Europe</a>
                <a id="info" data-id="French">French</a>
                <a id="info" data-id="Indian">Indian</a>
                <a id="info" data-id="Italian">Italian</a>
                <a id="info" data-id="South East Asian">South East Asian</a>
              .column
                <a id="info" data-id="Japanese">Japanese</a>
                <a id="info" data-id="Mediterranean">Mediterranean</a>
                <a id="info" data-id="Mexican">Mexican</a>
                <a id="info" data-id="Middle Eastern">Middle Eastern</a>
                <a id="info" data-id="South American">South American</a>
              .column
                <a id="info" data-id="Caribbean">Caribbean</a>
                <a id="info" data-id="Nordic">Nordic</a>
                <a id="info" data-id="Kosher">Kosher</a>
        .dropdown
          button.dropbtn
            | Dish Type
            i.fa.fa-caret-down
          .dropdown-content
            .column
              <a id="info" data-id="Starter">Starter</a>
              <a id="info" data-id="Soup">Soup</a>
              <a id="info" data-id="Sandwiches">Sandwiches</a>
              <a id="info" data-id="Salad">Salad</a>
              <a id="info" data-id="Preserve">Preserve</a>
            .column
              <a id="info" data-id="Preps">Preps</a>
              <a id="info" data-id="Pancake">Pancake</a>
              <a id="info" data-id="Omelet">Omelet</a>
              <a id="info" data-id="Main course">Main course</a>
              <a id="info" data-id="Egg">Egg</a>
            .column
              <a id="info" data-id="Desserts">Desserts</a>
              <a id="info" data-id="Drinks">Drinks</a>
              <a id="info" data-id="Condiments and sauces">Condiments and sauces</a>
              <a id="info" data-id="Cereals">Cereals</a>
              <a id="info" data-id="Bread">Bread</a>
            .column
            <a id="info" data-id="Biscuits and cookies">Biscuits and cookies</a>
            <a id="info" data-id="Alcohol-cocktail">Alcohol-cocktail</a>
        .dropdown
          button.dropbtn
            | Meal Type
            i.fa.fa-caret-down
          .dropdown-content
            .column
              <a id="info" data-id="Breakfast">Breakfast</a>
              <a id="info" data-id="Lunch">Lunch</a>
              <a id="info" data-id="Dinner">Dinner</a>
              <a id="info" data-id="Snack">Snack</a>
              <a id="info" data-id="Teatime">Teatime</a>
            .column
            .column
            .column
        .dropdown
          button#myBtn.dropbtn
            | Personal Recomendation
            i.fa.fa-caret-down
        // The Modal
        #myModal.modal
          // Modal content
          .modal-content
            span.close &times;
            .modal-body
              .container
                form(action='action_page.php')
                  .row
                    .col-25
                      label(for='userGender') Sex (required):
                    .col-75
                      label.x
                        input#userGender(type='radio' name='userGender' value='Female' checked='true' onchange='show(this.value);')
                        | &nbsp;Female
                      label.x
                        input#userGender(type='radio' name='userGender' value='Male' onchange='show(this.value);')
                        | &nbsp;Male
                  .row
                    .col-25
                      label(for='userAge') Age:
                    .col-75
                      input#userAge.x(type='text' name='userAge')
                  .row
                    .col-25
                      label(for='userHeight') Height:
                    .col-75
                      input#userHeight.x(type='text' name='userHeight')
                  .row
                    .col-25
                      label(for='userWeight') Weight:
                    .col-75
                      input#userWeight.x(type='text' name='userWeight')
                  .row
                    .col-25
                      label(for='userActivity') Activity Level:
                    .col-75
                      select#userActivity.x(name='userActivity')
                        option
                        option Sedentary
                        option LowActive
                        option Active
                        option VeryActive
                  #women
                    .row
                      .col-25
                        label(for='pregnancy') Pregnancy:
                      .col-75
                        input#pregnancy.x(type='text' name='pregnancy')
                    .row
                      .col-25
                        label(for='lactation') Lactation:
                      .col-75
                        input#lactation.x(type='text' name='lactation')
                  .row
                    input(type='submit' value='Submit')
      #display-dishes.content
    script(src='/Javascript/main.js')
  
