extends layout

block content
.Left-Content
  .Left-Content-Side
    h1
      | Diets
    li
      ul Keto
      ul Paleo
      ul Dukan
      ul Ultra-Low-Fat
      ul Intermittent Fasting
    h1
      | Categories
    h1
      | Suggestions
      textarea(rows='15' cols='30')
  h1 List of Guides
  li
    ul
      a(href='https://www.mayoclinic.org/healthy-lifestyle/nutrition-and-healthy-eating/in-depth/carbohydrates/art-20045705#:~:text=The%20Dietary%20Guidelines%20for%20Americans,grams%20of%20carbohydrates%20a%20day.') Nutrition and healthy eating
    ul
      a(href='https://www.mayoclinic.org/healthy-lifestyle/weight-loss/in-depth/mayo-clinic-diet/art-20045460') The Mayo Clinic Diet: A weight-loss program for life
    ul
      a(href='http://www.acaloriecounter.com/diet-guide.php') The Beginner&apos;s Guide To Diet, Nutrition &amp; Healthy Eating
    ul
      a(href='https://www.dietdoctor.com/low-carb/u1') Low carb for beginners
.Middle-Content
  h1 List of Plans
  p Keto Diet
  li
    ul  High Fats 80%, Low Carbs 20%
    ul  Stay under 20 grams of Carbs
    ul  Avoid grains due to Carbs
  p Paleo Diet
  li
    ul  High Protein 50%, Moderate 25%, Moderate Fat 25%
    ul  Avoid processed foods
    ul  Avoid added sugars and salt
    ul  As natural as possible
  p Intermittent Fasting
  li
    ul 16-18 hours of Fasting
    ul 8-6 hours of eating
    ul Eat what you like, without stuffing yourself
.Right-Content
  h1 List of Articles
  li
    ul
      a(href='https://www.sciencedirect.com/science/article/abs/pii/S030645221300732X')
        | Inter-relationships among diet, obesity and hippocampal-dependent cognitive function
    ul
      a(href='https://www.researchgate.net/profile/Carmine-Finelli/publication/282920578_Hype_or_Reality_Should_Patients_with_Metabolic_Syndrome-related_NAFLD_be_on_the_Hunter-Gatherer_Paleo_Diet_to_Decrease_Morbidity/links/5638d98f08ae51ccb3cc9f38/Hype-or-Reality-Should-Patients-with-Metabolic-Syndrome-related-NAFLD-be-on-the-Hunter-Gatherer-Paleo-Diet-to-Decrease-Morbidity.pdf')
        | Hype or Reality: Should Patients with Metabolic Syndrome-related NAFLD be on the Hunter-Gatherer (Paleo) Diet to Decrease Morbidity?
    ul
      a(href='https://www.researchgate.net/profile/Julita-Regula/publication/326224995_Assessment_of_nutrition_and_nutritional_status_in_women_using_the_high-protein_diet_in_the_past/links/5c6c065da6fdcc404ebc4b10/Assessment-of-nutrition-and-nutritional-status-in-women-using-the-high-protein-diet-in-the-past.pdf')
        | Assessment of nutrition and nutritional status in women using the high&ndash;protein diet in the past
    ul
      a(href='https://link.springer.com/article/10.1007/s13679-018-0308-9') Intermittent Fasting: Is the Wait Worth the Weight?

